@import 'base';

.home-section {

  .swiper-containerhome {
    width: 100%;
    height: 600px;

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
}

.container-bubble {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      transition: opacity 0.5s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    @media(max-width:991px) {
      width: 100px;
      height: 100px;
    }
  }
}